* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(200, 207, 193);
}

.calculator {
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 300px;
    background-color: rgb(46, 135, 212);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.display {
    background-color:whitesmoke;
    color: rgb(12, 0, 3);
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #c965b7;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ddd;
}

#equals {
    background-color: #d885cc;
    color: white;
}

#equals:hover {
    background-color: #cd18b1;
}
